[workspace]
members = [
    "src/moonlink",
    "src/moonlink_connectors",
    "src/moonlink_backend",
]
resolver = "2"

[workspace.package]
version = "0.0.1"
edition = "2021"

[workspace.dependencies]
async-trait = "0.1"

tokio-postgres = { git = "ssh://git@github.com/Mooncake-labs/rust-postgres.git"}
arrow = "53.4.1"
thiserror = "2.0.12"
parquet = "53.4.1"
tempfile = "3.18.0"
futures = "0.3.31"
multimap = "0.10.0"
chrono = "=0.4.39"
num-traits = "0.2.19"
postgres-replication = { git = "ssh://git@github.com/Mooncake-labs/rust-postgres.git" }
tokio = { version = "1.38", features = ["rt-multi-thread", "macros"] }
uuid = { version = "1.15.1", features = ["v4"] }
arrow-array = "53.4.1"
arrow-schema = "53.4.1"
iceberg = "0.4.0"
iceberg-catalog-memory = "0.4.0"
